.start-time {
  font-size: 34px;
  flex: 1;
  padding: 0;
}

body {
    background-color: #e6e9ef;
    margin: 0;
    padding: 0;
    font-size: larger;
    font-family: Outfit;
}
.item {
    
    background-color: white;
    padding: 14px;

    border-radius: 14px;
    margin: 12px;

}

 .outfit-bold {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  .outfit-normal {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }


  .details {
    opacity: 0.8;
  }
.head {
  display: flex;
  justify-content: left;
  align-items: center;
}

.edit-layout {
    margin-top: 12px;
}
input {
    border: #ccd0da solid 0.5px;
    border-radius: 7px; 
    padding: 7px;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
}















